<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="static/css/typicons.css">
    <link rel="stylesheet" href="static/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- endinject -->

</head>

<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                        <img src="../static/picture/logo.png" alt="logo" style="max-width: 50px; max-height: 60px;">
                        <span style="margin-left: 10px; color: #EB2020; font-weight: bold; font-size: 30px;">网易云音乐数据可视化</span>
                        </div>
                        <h2 style="color:#EB2020">Real Music！</h2>
                        <form class="pt-3" action="/index" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" id="userIdInput" name="userId"
                                       placeholder="填写你的网易云UID">
                            </div>
                            <div class="mt-4">
                                <button type="submit"
                                        class="btn btn-block btn-danger btn-lg font-weight-medium auth-form-btn custom-btn">登录
                                </button>
                            </div>
                            <div class="text-center mt-3 font-weight-light">
                                <a href="https://music.163.com/#" class="text-">Forgot
                                    to click search</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="static/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="static/js/off-canvas.js"></script>
<script src="static/js/hoverable-collapse.js"></script>
<script src="static/js/template.js"></script>
<script src="static/js/settings.js"></script>
<script src="static/js/todolist.js"></script>
<!-- endinject -->
</body>

</html>
